address, legend, label, #about-text, #contact-us{
    color:white;
}
#lower-row, #upper-row {
    padding-left: 1.5em;
}
#upper-row {
    padding-top: 2em;
}
#lower-row {
    margin-top: 1.5em;
    margin-left: 6em;
    padding-bottom: 1.5em;
}
#images {
    min-width: 14em;
}
#contact-us{
    background: rgba(0,0,0,0.3) !important;
    padding: 1em;
}
#btnContactUs {
    float:right;
}
#about-text{
    display: inline-block;
    background:rgba(0, 0, 0, 0.3);
    width: 60%;
    padding: 1em;
    border-radius: 0.5em
}
.container {
    background:rgba(0, 0, 0, 0.5);
    max-width: 45em;
    height: auto;
    border-radius: 0.5em;
}
.container1 {
    text-align: center;
}
@media screen and (max-width: 768px) {
    .col-md-1 {
        max-width: 8.33%;
        margin-bottom: 1em;
    }
    #upper-row, #lower-row {
        display: inline;
    }
    #lower-row {
        margin-top: 1px;
    }
    .container {
        max-width: 16em;
    }


}
