textarea {
    width: 17em;
    border-radius: 0.2em;
}
input {
    width: 12em;
    border-radius: 0.2em;
}
address, legend, label, #about-text, #contact-us, #our-employees{
    color:white;
}
.col-md-4 {
    float: right;
    display: inline-block;
    position: absolute;
    margin-top: 7em;
    margin-left: 2em;
}
.col-md-8 {
    width: 50%;
    display: inline-block;
}
#lower-row, #upper-row {
    padding-left: 1.5em;
}
#upper-row {
    padding-top: 1em;
}
#lower-row {
    margin-top: 1.5em;
    margin-left: 6em;
    padding-bottom: 1.5em;
}
#images {
    min-width: 14em;
}
#btnContactUs {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 8em;
    float:left;
}
#about-text{
    display: inline-block;
    background:rgba(0, 0, 0, 0.3);
    width: 60%;
    padding: 1em;
    border-radius: 0.5em
}
#our-employees {
    padding-top: .5em;
}
#our-employees, .container1 {
    text-align: center;
}
#contact-us {
    background: rgba(0,0,0,0.3) !important;
    padding: 1em;
}
#input-field {
    background-color: green;
    color: blue;
}
.container {
    background:rgba(0, 0, 0, 0.5);
    max-width: 45em;
    height: auto;
    border-radius: 0.5em;
}
.card-img-top {
    height: 225px;
    width: 100%;
    display: block;
}
@media screen and (max-width: 768px) {
    #upper-row, #lower-row {
        display: inline;
    }
    #lower-row {
        margin-top: 1px;
    }
    .col-md-1 {
        max-width: 8.33%;
        margin-bottom: 1em;
    }
    .container {
        max-width: 16em;
    }
    .col-md-4 {
        position: initial;
    }
    textarea {
        width: 12em;
        border-radius: 0.2em;
    }
    #btnContactUs {
        margin-top: 1em;
        margin-bottom: 2em;
        margin-left: 5.5em;
        float:left;
    }
    .col-md-4 {
        float: none;
        margin-top: 1em;
        margin-left: 0.5em;
        margin-bottom: 2em;
    }
}