body {
    color: whitesmoke;
}
input {
    border-radius: 0 4px 4px 0;
    border: none;
}
input, select {
    text-indent: 1em;
}
input, #id_country {
    width: 79.5%;
}
#create-button {
    width: 16em;
}
:disabled {
    background-color: lightgrey;
    color: lightslategrey;
}
.input-group-text {
    width: 2.6em;
}
.card {
    margin-top: 3em;
}