body {
    color: whitesmoke;
}
input {
    border-radius: 0 4px 4px 0;
    border: none;
}
input, #id_country {
    width: 79.5%;
}
:disabled {
    background-color: lightgrey;
    color: lightslategrey;
}
.input-group-text {
    width: 2.6em;
}