textarea {
  resize: none;
}
#carouselExampleControls {
    width:80%;
    height:20%;
}
#carouselExampleControls, .card, .card-body {
    margin: 0 auto;
}
.carousel-inner {
    margin: 2rem auto;
    width: 50%;
    height: 9rem;
    border-radius: 4px;
}
.form-group {
    margin: 0.7em auto;
    width:40%;
}
.card {
    height: 850px;
    width: 700px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body {
    width: 100%;
    align-content: center;
}
.card-title, .sub-title {
    color: white;
    text-align: center;
}
