.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

textarea {
  resize: none;
}

.image
input[type='file'] {
  width: 3em;
}
#carouselExampleControls{
    margin: 0 auto;
    width:80%;
    height:20%;
}

.carousel-inner {
    margin: 2rem auto;
    width: 50%;
    height: 9rem;
    border-radius: 4px;
}
.login_btn{
color: black;
background-color: whitesmoke;
width: 100px;
}

#add-info{
    margin: 0.7em auto;
    width: 98%;
    height: 4em;
    border-radius: 4px;
}
.form-group {
    margin: 0.7em auto;
    width:40%;
}


.form-control{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


.login_btn:hover{
color: grey;
background-color: white;
}

.card{
height: 850px;
    margin: 0 auto;
width: 700px;
background-color: rgba(0,0,0,0.5) !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#submit-buttons{
    margin: 2em auto;
}

#preview-button{
    color: black;
    background-color: whitesmoke;
    border-color: black;
}

.btn1 {
    border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 11.2em;
    height: 100%;
    text-align: left;
  color: gray;
  background-color: white;

}

.upload-btn-wrapper input[type=file] {

  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


#input-file{

}
.card-body {
    width: 100%;
    align-content: center;
    margin: 0 auto;
}
.card-title {
    text-align: center;
    color: white;
}

.sub-title {
    text-align: center;
    color: white;
}