a {
    color: dodgerblue;
}
h4 {
    margin: 1em auto;
    color: whitesmoke;
}
h4, .form-horizontal {
    text-align: center;
}
label, #update_btn {
    color: white;
}
#update_btn {
    background-color: dodgerblue;
    width: 100px;
    margin: 1em auto !important;
}
.card {
    height: auto;
    margin: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.btn {
    font-style: unset;
}
.card-body, .profile-pic-div, .profile-picture {
    margin: 0 auto;
}
.card-body {
    width: 90%;
}
.profile-pic-div {
    width: 50%;
}
.form-horizontal {
    margin: 1em auto;
}
.login_btn:hover {
    color: grey;
    background-color: white;
}
.form-control {
    margin-bottom: 1.5em;
}
.profile-picture {
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.profile-picture:hover {
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 10.5);
}