img {
    border-radius: 5px;
    width: 100%;
}
a {
    color: dodgerblue;
}
h3, h4 {
    margin-bottom: 1em;
    color: whitesmoke;
}
h4:hover{
    color: dodgerblue;
}
h3, .form-group {
    text-align: center;
}
img, .container, .card, .image_box {
    height: auto;
}
#messages-tag {
    text-decoration: none;
    margin: 0 auto;
    width: 30%;
}
#messages-button-unread {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  animation-delay: 3s;
}
.container, .card {
    align-content: center;
}
.messages-tag-wrapper {
    width: 33%;
    margin: 0 auto;
}
.container {
    text-align: center;
    align-content: center;
    background-color: rgba(0,0,0,0.2);
    margin-top: 3em;
    width: 45em;
    padding: 2em;
}
.card {
    width: 40em;
    background-color: rgba(255,255,255, 0.2);
    margin: 0.3em auto;
    display:inline-block;
}
.information, .image_box, .decision {
    float: left;
}
.information, .image_box {
    margin-top: 1em;
    margin-left: 1em;
}
.image_box {
    width:21%;
}
.information {
    width:62%;
}
.decision {
    margin: 1em;
    width:5%;
}
.btn {
    margin-top: 0.5em;
}
.messages-button{
    color: whitesmoke;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 1em 1em;
}
.messages-button:hover{
    color: dodgerblue;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
