body {
    color: white;
}
a {
    color: dodgerblue;
}
table, th, td {
    border: 1px solid whitesmoke;
}
table {
    width: 100%;
}
img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}
#close-table {
    display: block;
    text-align: center;
    font-size: 2em;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.container {
    background-color: rgba(0,0,0,0.2) !important;
    height: auto;
    margin-top: auto;
    width: 45em;
    align-content: center;
    padding: 2em;
}
.btn {
    margin-top: 0.5em;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgba(255,255,255, 0.2);
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}