#carouselExampleControls {height: 25rem; width: 25rem; margin: auto;}

.carousel-inner {height: 25rem; width: 25rem;}

.carousel-item {height: 25rem; width: 25rem;}

.d-block {height: 25rem; width: 25rem;}

h1 {color: white; margin: auto;}

p {color: white; margin: auto;}