body {
    background: url(https://media.cntraveler.com/photos/5804e849fefb7fe774d641ff/master/pass/airbnb-courtesy-Night-at-Dracula-6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
#background-img {
    width: 100%;
    margin: 0 auto;
    margin-top: 8em;
}
/*#TODO: Change buttons so they are more visible, maybe add logo near top-mid ?*/
#right-front-button, #left-front-button {
    width: 12rem;
    height: 3rem;
    background:rgba(255,255,255, 0.1);
    color: white;
    border-color: white;
}
#right-front-button {
    margin-left: 15em;
}
#right-front-button:hover{
    background-color: white;
    color: black;
}
#left-front-button:hover{
    background-color: white;
    color: black;
}
#navbarid {
    background-color: black;
}
#logo, #navbarDropdown, #sign-in, #about-us, #copyright{
    color: white;
}
#about-us {
    margin-left: 0.5em;
    text-decoration: underline;
}
#copyright {
    display: inline-block;
    float: right;
    margin: 0 auto;
    margin-right: 0.5em;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0;
}
.front-buttons {
    margin-top: 1em;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.dropdown {
    border: none;
    background: none;
}
.dropdown:active{
    border: none;
    background: none;
}
.dropdown show{
    border: none;
}
.dropdown-menu{
    background-color: transparent !important;
    border: transparent !important;
}
.dropdown-divider{
    border-color: white !important;
}
.dropdown-item{
    color: white !important;
}
.dropdown-item:hover{
    color: black !important;
}
.card-img-top {
    width: 100%;
    height: 15em;
}
.footer {
    position: fixed;
    bottom: 0.5em;
    width: 100%;
}
.header-item{
    margin-right: 2em;
    margin-top: 1em;
    color: whitesmoke;
}
.header-item:hover{
    color: lightcyan;
}
/*When the website is above 390 and below 498px*/
@media screen and (max-width: 498px) {
    #right-front-button {
        margin-left: unset;
    }
}
/*When the website is below 390px*/
@media screen and (max-width: 390px) {
    #right-front-button {
        margin-top: 1em;
    }
}

