#btn-send-offer {
    float: right;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

#title-success {
    margin: auto; !important;
    color: #4CAF50; !important;
}


.header-text {
    width: 50%;
    margin: auto;
}

.container {
    color: white;
    margin-top: 3em;
    width: 35em;
}

.row {
    margin-left: 5em;
}

.form-control {
    margin-bottom: 1em;
}
