table, th, td {
    background-color: rgba(255,255,255, 0.2); !important;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
    height: 50px;
    margin: 0 auto 5em;
    padding: 0.5em;
}
table, th, td, h5, thead, #edit-button, .card-title {
    text-align: center;
}
h5 {
    color: whitesmoke;
    margin-top: 2em;
}
thead {
    font-weight: bold;
}
table {
    border-radius: 4px;
}
tr:hover {
    background:rgba(255,255,255, 0.4);
}
#accept-button, #reject-button {
    background-color: whitesmoke;
    border: none;
    color: black;
}
#accept-button:hover, #reject-button:hover, #edit-button:hover {
    color: white;
}
#accept-button:hover {
    background-color: green;
}
#reject-button:hover {
    background-color: red;
}
#edit-button {
    background-color: rgba(255,255,255, 0.9); !important;
    color: black;
    border-color: black;
    margin: 1em auto;
    width: auto;
    height: 2.5em;
}
#edit-button:hover {
    background-color: dodgerblue;
}
#carouselExampleControls {
    width:80%;
    height:20%;
}
#carouselExampleControls, .card, .card-body {
    margin: 0 auto;
}
.carousel-inner {
    margin: 2rem auto;
    width: 50%;
    height: auto;
    border-radius: 4px;
}
.form-group {
    margin: 0.7em auto;
    width:40%;
}
.card {
    height: auto;
    width: 700px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body {
    width: 100%;
    align-content: center;
}
.card-title {
    color: white;
}
.offer-col {
    width: 10%;
}
.name-col {
    width: 20%;
}
.message-col {
    text-align: left;
    width: 50%;
}
.response-col {
    width: 25%;
}