form {
    width: 100%;
    margin: 2em auto;
}
#cvc-field {
    width: 5em;
    margin-left: 1em;
}
#expiry-month, #expiry-year {
    width: 4em;
    display: inline-block;
}
#pay-button, #back-button {
    border: none;
}
#pay-button {
    background-color: dodgerblue;
    float:right;
}
#back-button {
    color: #656b74;
    background-color: whitesmoke;
}
#back-button:hover {
    background-color: lightgrey;
}
#circle1 {
    color: #4f92ff;
    transition: transform .2s;
}
#circle1:hover, #circle2:hover {
    border: 2px solid whitesmoke;
    outline: none;
    box-shadow: 0 0 4px #9ecaed;
    transform: scale(1.2);
    cursor: pointer;
}
.input-group {
    height:2.4em !important;
    margin: 1em auto;
    width: 92%;
}
.card, .bottom-buttons-wrapper {
    margin: 0 auto;
}
.card {
    height: auto;
    margin: 0 auto;
    width: 30em;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body {
    width: 85%;
}
.card-title {
    text-align: center;
    color: white;
}
.month-year {
    margin-left: 1em;
}
.bottom-buttons-wrapper {
    width: 100%;
}
.bottom-button {
    width: 45%;
}