p {
    margin-top: unset;
    margin-bottom: unset;
}


#payment-details{
    display: inline-block;
    color: white;
    width: 25em;
    float: left;
    padding-top: 1.7em;
}


#cardName{
    background-color: red;
}
#title-success {
    margin: auto; !important;
    color: #4CAF50; !important;
}
#home-button {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
#expiry-month, #expiry-year{
    display: inline-block;
    position: relative;
}
#expiry-month{
    margin-bottom: 0.5em;
}
#px4-container{
    margin-top: 10em;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 2em;
    width:  100%;
    height: 25em;
    text-align: center;
}
#getdate{
    display: inline-block;
}
#pay-button{
    margin-top: 0.1em;
}
#search-log-table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}
#search-log-table td, #search-log-table th {
    padding: 8px;
    border-bottom: 1px solid white;
}
#search-log-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-align: left;
}
#getdate{
    margin-left:1em;
}

.all-tables {
    width: 70%;
}

.container{
    width: 40em;
    margin-top: 1em;
    float: right;
}

.total{
    font-size: 1.5em;
}

.table-head {
    font-weight: bold;
    color: white;
    border-bottom: unset !important;
    font-size: 1.5em;
}
.table-1{
    width: 14em;
}
.table-2{
    max-width: 15em;
    text-align: left !important;
}
.table-3{
    max-width: 15em;
    text-align: left !important;
}
.table-4{
    max-width: 6em;
    text-align: right !important;
}

.payment-container{
    display: inline-block;
    width: 70em;
    text-align: center;
    height: auto;
}
.row {
    width: inherit;
    height: inherit;
}
.text-danger {
    color:greenyellow !important;
}
.form-group {
    margin-bottom: 0.5rem !important;
}
.container{
    display:inline-block;
    max-width: 40em;
}

#payment-header{
    margin: 1em auto;
}

@media screen and (max-width: 1167px) and (min-width: 990px) {
    #expiry-month, #expiry-year{
        width: 3em;
    }
    #payment-details{
        width: 25em;
    }
    .container{
        width: 32em;
    }
    .table-1{
        width: 6em;
    }
    .payment-container{
        width: 60em;
    }
}
@media screen and (max-width: 989px) and (min-width: 683px) {
    #px4-container{
        height: 45em;
        text-align: center;
    }
    #expiry-month, #expiry-year{
        width: 4em;
        float: left;
    }
    #pay-button{
        margin-top: .5em;
    }
    #payment-details{
        display: inline-block;
        max-width: 20em;
        margin-left: 9em;
    }
    .container {
        display: inline-block;
    }
    .payment-container{
        display: inline-table;
        width: 10em;
    }
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}
@media screen and (max-width: 682px) and (min-width: 1px) {
    #px4-container{
        height: 45em;
        text-align: center;
    }
    #expiry-month, #expiry-year{
        width: 4em;
        float: left;
    }
    #pay-button{
        margin-top: .5em;
    }
    #payment-details{
        display: inline-block;
        max-width: 20em;
        left: 25%;
    }
    .container {
       text-align: center;
        /*left: 5em;*/
        max-width: 100%;
        left:10%;
    }
    .payment-container{
        display: inline-table;
        width: 100%;
    }
    .table-1{
        max-width: 12em;
        width: 12em;
    }
    .table-2{
        text-align: left !important;
        max-width: 2em !important;
        width: 1em;
    }
    .table-3{
        text-align: left !important;
        max-width: 8em;
    }
    .table-4{
        max-width: 8em;
    }
    #search-log-table{
        width: 25em;
        display: inline-block;
        margin-left: 3em;
    }
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

}
/*#TODO: Make responsive below 540 px*/