p {
    padding-top: 0.3em;
}
#carouselExampleControls {
    height: 23rem;
    width: 25rem;
    margin: auto;
}
#search-log-table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
#search-log-table td, #search-log-table th {
    font-weight: normal;
    padding: 8px;
    border-bottom: 1px solid white;
}
#search-log-table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
}
#button-down, #button-down-mid-l, #button-down-mid-r, #button-down-disabled, #button-down-mid-r-disabled {
    animation-duration: 0.5s;
    -webkit-appearance: none;
    width: 12rem;
    height: 3rem;
    background:rgba(255,255,255, 0.4);
    color: white;
    border-color: white;
    display: inline-block;
    margin-bottom: 5em;
}
#button-down-mid-l {
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: 0.8em;
}
#button-down-mid-r, #button-down-mid-r-disabled {
    margin-right: .5em;
}
#button-down-mid-r-disabled, #button-down-disabled {
    background:rgba(255,255,255, 0.2);
    color: darkgray;
}
#button-down:hover, #button-down-mid-r:hover, #button-down-mid-l:hover {
    background-color: white;
    color: black;
}
p, #search-log-table, th, .castle-name, h3 {
    color: white;
}
.container {
    width: 50em;
    height: 22em;
    margin-bottom: 3em;
    background: rgba(0,0,0,0.4);
    border-radius: .5em;
    display: table;
}
.table-left {
    border-right: 1px solid white;
    min-width: 12em;
    max-width: 12em;
    width: 12em;
}
.table-bottom {
    border-bottom: unset !important;
}
.btn-container {
    height: 3.4em;
}
h3.castle-name {
    width: 50%;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 0 1em 0 1em;
    margin: auto;
    padding: 0.2em 0;
}
.d-block, .container, .btn-container {
    margin-top: 1em;
}
.btn-container, .container, h3.castle-name {
    text-align: center;
}
.carousel-inner, .carousel-item, .d-block {
    width: 25rem;
    height: 22.5rem;
}
div.click-to-top span {
    display: none;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: dodgerblue;
    color: white;
    text-align: center;
}
div.click-to-top:hover span {
    display: block;
    position: relative;
    bottom: 270%;
    left: 10%;
    width:8.2em;
    height: 3.1em;
    border-radius: 10px;
}
.click-to-top span::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: dodgerblue transparent transparent transparent;
}