h1 {
    color: white;
}
h4 {
    padding-left: 0.8em;
    color: whitesmoke;
}
.receipt-container {
    margin: 0 auto;
    height: 29em;
    width: 50em;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
}
.receipt-header {
    padding: 1em;
    width: 100%;
    height: 15%;
    margin: 0 auto;
}
.receipt-div {
    color: whitesmoke;
    float:right;
    border-left: 1px solid whitesmoke;
}
.product-info, .receipt-div {
    height: 85%;
    width: 50%;
}
.product-info {
    float:left;
}
.bottom-button-wrapper, .receipt-header {
    text-align: center;
}
.buyer-info, .seller-info, .product-details {
    height: 33.33%;
}
.details-table td {
    font-size: 12px;
    text-align: left;
    color:whitesmoke;
}
.details-table tr {
    border-bottom: 1px rgba(255,255,255,0.5) solid;
    height: 1.7em;
}
.details-table {
    margin-right: 1em;
    float: right;
    width: 60%;
}
.product-details .icons {
    padding-left: 0.75em;
}
.buyer-info .icons {
    padding-top: 0.2em;
    padding-left: 0.55em;
}
.seller-info .icons {
    padding-left: 0.5em;
}
.icons {
    color: whitesmoke;
}
.buyer-info table {
    float: left;
    margin-left: 1em;
}
.buyer-info h4 {
    padding-left: 12.4em;
}
.btn-primary {
    border: none;
    margin: 1em auto;
    background-color: dodgerblue;
}
.btn-primary:hover {
    background-color: whitesmoke;
    color: black;
}
.container {
    color: whitesmoke;
}