h2 {
    color: white;
}
h4 {
    padding-left: 0.8em;
    color: whitesmoke;
}
tbody {
    min-height: 100%;
}
p {
    margin-top: 1.5em;
}
#contacts {
    margin-top: 2em;
    text-align: center;
}
#receipt-header {
    padding-left: unset;
}
#search-log-table {
    width: 30em;
    display: inline-block;
}
#search-log-table tr {
    border-bottom: 1px rgba(255,255,255,0.5) solid;
}
#search-log-table td {
    margin: 0 auto;
}
#receipt-header, #time-stamp-header {
    display: inline-block;
}
#time-stamp-header {
    float: right;
}
.header-container {
    text-align: center;
}
.header-row {
    display: inline-block;
}
.table-1 {
    margin-right: 5em;
    text-align: center;
}
.table-2 {
    width: 10em;
    text-align: right;
}
.table-3 {
    width: 7em;
    text-align: center;
}
.table-4 {
    text-align: right;
    width: 2em;
    padding-right: 1em;
}
.receipt-container {
    margin: 0 auto;
    height: 33em;
    width: 80%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
}
.receipt-table {
    text-align: center;
}
.receipt-header {
    padding: 1em;
    width: 100%;
    height: 15%;
    margin: 0 auto;
}
.receipt-div {
    font-size: 12px;
    color: whitesmoke;
    float:right;
    border-left: 1px solid whitesmoke;
    padding-left: 1em;
    padding-right: 1em;
}
.product-info, .receipt-div {
    height: 85%;
    width: 50%;
}
.product-info {
    float:left;
}
.bottom-button-wrapper, .receipt-header {
    text-align: center;
}
.buyer-info, .seller-info, .product-details {
    height: 33.33%;
}
.details-table td {
    font-size: 12px;
    text-align: left;
    color:whitesmoke;
}
.details-table tr {
    border-bottom: 1px rgba(255,255,255,0.5) solid;
    height: 1.7em;
}
.details-table {
    margin-right: 1em;
    float: right;
    width: 60%;
}
.receipt-info {
    height: 4em;
}
.product-details .icons {
    padding-left: 0.75em;
}
.buyer-info .icons {
    padding-top: 0.2em;
    padding-left: 0.55em;
}
.seller-info .icons {
    padding-left: 0.5em;
}
.icons {
    color: whitesmoke;
}
.buyer-info table {
    float: left;
    margin-left: 1em;
}
.buyer-info h4 {
    padding-left: 12.4em;
}
.btn-primary {
    border: none;
    margin: 1em auto;
    background-color: dodgerblue;
}
.btn-primary:hover {
    background-color: whitesmoke;
    color: black;
}
.container {
    color: whitesmoke;
    margin-bottom: 5em !important;
}