#article-card {
    max-width: 400px;
}
#button-reset{
    color: white;
    text-decoration: none;
}
.less-text{
    color: white;
    text-align: center;
}
.card {
    height: auto;
    width: 400px;
    margin: 10em auto auto;
    background-color: rgba(0,0,0,0.5) !important;
}
.sub-title, h2, p, .fa-lock {
    color: white;
    padding-bottom: 0.2em;
}
.fa-lock {
    padding-bottom: 0.5em;
    text-align: center;
    display: block;
    margin:0 auto;
}