.form-gap {
    padding-top: 70px;
}

.outside{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.inside{
    background-color: red;
}

fa fa-lock fa-4x{
    color:red;
}

h2{
color: white;
}


.blue-icon{
color:blue !important;
}

