.form-gap {
    padding-top: 70px;
}
.outside{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.inside{
    background-color: red;
}
.blue-icon{
    color:blue !important;
}

.card{
    padding-top: 1em;
    height: 460px;
    margin: 0 auto;
    width: 400px;
    margin-top: 10em;
    background-color: rgba(0,0,0,0.5) !important;
}

.sub-title, h2, p, .fa-lock{
    color: white;
    padding-bottom: 0.2em;
}
.fa-lock{
    padding-bottom: 0.5em;
    text-align: center;
    display: block;
    margin:0 auto;
}