.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.form-input-field {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: none;
    margin: 0 auto;
    width: 85%;
    text-indent: 15px;

}
form {
    width: 100%;
    margin: 2em auto;
}
#create-button-container {
    width: 90%;
    margin: 2em auto;
}
#create-button {
    width: 100%;
    margin: 0 auto;
}
.input-group-prepend {
    height: 100%;
}
.input-group {
    height:2.4em !important;
    margin: 1em auto;
    width: 92%;
}
.login_btn {
    color: black;
    background-color: whitesmoke;
    width: 100px;
}
.login_btn:hover {
    color: grey;
    background-color: white;
}
.card{
    height: auto;
    margin: 0 auto;
    width: 40em;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body{
    width: 85%;
    margin: 0 auto;
}
.card-title {
    text-align: center;
    color: white;
}
.sub-title {
    text-align: center;
    color: white;
    margin: 0 auto;
}

#expiry-month{
    display: inline-block;
}

#cvc-field{
    width: 5em;
    margin-left: 1em;
}

#expiry-month, #expiry-year{
    width: 4em;
    display: inline-block;
}

.month-year{
    margin-left: 1em;
}


.table-head {
    font-weight: bold;
    color: white;
    border-bottom: unset !important;
    font-size: 1.5em;
}
.table-1{
    width: 14em;
    font-weight: normal;
}
.table-2{
    max-width: 1em;
    text-align: center !important;
    font-weight: normal;
}
.table-3{
    max-width: 3em;
    text-align: left !important;
    font-weight: normal;
}
.table-4{
    max-width: 6em;
    text-align: right !important;
    font-weight: normal;
}
.payment-container{
    display: inline-block;
    width: 70em;
    text-align: center;
    height: auto;
}

#search-log-table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}
#search-log-table td, #search-log-table th {
    padding: 8px;
    border-bottom: 1px solid white;
}
#search-log-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-align: left;
}
#getdate{
    margin-left:1em;
}