.container {
    text-align: center;
    width: 45em;
    height: auto;
    background: rgba(0,0,0,0.4);
    border-radius: .5em;
}
#search-log-table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}
#search-log-table td, #search-log-table th {
    padding: 8px;
    border-bottom: 1px solid white;
}
#search-log-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-align: center;
}
.buttn {
    font-style: unset;
    margin: 1em 0;
}