h4 {
    margin: 1em auto;
    text-align: center;
    color: whitesmoke;
}
#id_username, #id_password {
    border-radius: 0 4px 4px 0;
    border: none;
    height: 2.6em;
    text-indent: 15px;
}
#login_btn {
    background-color: dodgerblue;
    width: 100px;
    margin: 1em auto !important;
}
#remember-me {
   margin-left: 1.5em;
}
#login_btn, .links, .remember {
    color: white;
}
 #id_username, #id_password, .input-group-prepend, .form-group {
    width: 100%;
}
#id_username, #id_password, .form-input-field, .form-group, .input-group-prepend, .card-footer {
    margin: 0 auto;
}
.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body {
    width: 90%;
    margin: 0 auto;
}
.remember input {
    margin-left: 15px;
    margin-right: 5px;
}
.form-input-field {
    border: none;
    width: 97%;
    text-indent: 15px;
}
.form-group {
    border-radius: 4px;
}
.input-group-prepend {
    padding: 0.5em;
}
.login_btn:hover {
    color: grey;
    background-color: white;
}
.footer-links {
    color: dodgerblue;
}
.footer-links:hover {
    color: whitesmoke;
}