form, #create-button {
    width: 100%;
}
form, #create-button-container {
    margin: 2em auto;
}
#create-button-container {
    width: 90%;
}
#login-redirect {
    margin-left: 1em;
}
#create-button, .form-input-field, .card, .card-body, .sub-title {
    margin: 0 auto;
}
.form-input-field {
    border-radius: 0 4px 4px 0;
    border: none;
    width: 85%;
    text-indent: 15px;
}
.input-group-prepend {
    height: 100%;
}
.input-group {
    height:2.4em !important;
    margin: 1em auto;
    width: 92%;
}
.card {
    margin: 12em auto;
    height: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body {
    width: 85%;
}
.card-title, .sub-title {
    text-align: center;
    color: white;
}