a {
    color: dodgerblue;
}
h4 {
    margin: 1em auto;
    text-align: center;
    color: whitesmoke;
}
h5 {
    color: white;
}
#back-button {
    background-color: whitesmoke;
    color: black;
    border: none;
}
#reply-btn {
    width: 43%;
    float:right;
}
#message-content {
    height: auto;
    color: grey;
    min-height: 10em;
}
.card {
    height: auto;
    margin-top: 2em;
    /*margin-bottom: 2em;*/
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body, .back-btn {
    width: 90%;
    margin: 0 auto;
}
.form-control {
    margin-bottom: 1.5em;
}