{% extends 'base.html' %}
{% block content %}
{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/front-page-admin.css' %}"/>
    <script src="{% static 'js/admin-app.js' %}"></script>

    <div class="container">
        <h3>Administrative tools</h3>
        <div class="tab">
            <button class="tablinks" disabled>View by:</button>
            <button class="tablinks" onclick="openColumn(event, 'employees')">Employees</button>
            <button class="tablinks" onclick="openColumn(event, 'customers')">Customers</button>
            <button class="tablinks" onclick="openColumn(event, 'properties')">Properties</button>
            <button class="tablinks" onclick="openColumn(event, 'make-employee')">Add employees</button>
        </div>

        <div id="employees" class="tabcontent">
            <h3>Employees</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>Last Login</th>
                    <th></th>
                </tr>
                {% for user in staff %}
                    <tr>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_login }}</td>
                        <td><a href="{% url 'delete_user' user.id %}"><i  class="fa fa-ban delete-logo" aria-hidden="true"></i></a>
                  </tr>
                {% endfor %}
            </table>
            <span id="close-table" aria-hidden="true" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>

        <div id="customers" class="tabcontent">
            <h3>Customers</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>Last Login</th>
                    <th></th>
                </tr>
                {% for user in customers %}
                    <tr>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_login }}</td>
                        <td><a href="{% url 'delete_user' user.id %}"><i  class="fa fa-ban delete-logo" aria-hidden="true"></i></a>
                    </tr>
                {% endfor %}
            </table>
            <span id="close-table" aria-hidden="true" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>

        <div id="properties" class="tabcontent">
            <h3>Properties</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Seller</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for castle in castles %}
                    <tr>
                        <td>{{ castle.name }}</td>
                        <td>{{ castle.seller.first_name }} {{ castle.seller.last_name }}</td>
                        <td>{{ castle.price }}</td>
                        <td><a href="/properties/{{ castle.id }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        <td><a href="{% url 'delete_castle' castle.id %}"><i  class="fa fa-ban delete-logo" aria-hidden="true"></i></a>
                    </tr>
                {% endfor %}
            </table>
            <span id="close-table" aria-hidden="true" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>

        <div id="make-employee" class="tabcontent">
            <h3>New employee information</h3>
            <table>
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <div>Username:</div>
                            {{ form.username }}
                            <div>Email:</div>
                            {{ form.email }}
                            <div>First name:</div>
                            {{ form.first_name }}
                            <div>Last name:</div>
                            {{ form.last_name }}
                            <div>Password:</div>
                            {{ form.password1 }}
                            <div>Password verification:</div>
                            {{ form.password2 }}
                            <div class="create-emp-btn"><button type="submit" id="submit-staff-button">Create employee</button></div>
                        </form>
                    </div>
            </table>
            <span id="close-table" aria-hidden="true" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>
    </div>
{% endblock %}
