{% extends 'base.html' %}
{% block content %}
{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/front-page-staff.css' %}"/>
    <div class="container">
    <h3>{{ messages|length }} unread user message{% if messages|length > 1 %}s{% endif %} </h3>
        <a {% if messages|length %}
                id="messages-button-unread"
                {% endif %}
                class="messages-button" href="/users/my-inbox"> <i class="fa fa-envelope fa-4x fa-clickable"></i></a>
    <div class="messages-tag-wrapper"><a id="messages-tag" href="/users/messages"> <h4>Click to go to inbox</h4></a></div>
    </div>
    <div class="container">
        <h3>{{ castles|length }} properties pending validation</h3>
            {% for castle in castles %}
            {% include "front_page/single_property.html" with castle=castle %}
            {% endfor %}
    </div>
{% endblock %}