


<div class="card">
    <div class="image_box">

      <img src='{{castle.propertyimage_set.first.image}}'>
    </div>
    <div class="information">

				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fab fa-fort-awesome"></i></span>
						</div>
						<input disabled type="text" class="form-control" placeholder="{{castle.name}}">

                    </div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input disabled type="text" class="form-control" placeholder="{{castle.userinfo_id.first_name}} {{castle.userinfo_id.last_name}}">
					</div>


                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-coins"></i></span>
						</div>
						<input disabled type="text" class="form-control" placeholder="{{castle.price}}">

         </div></div><div class="decision">
                        <a class="btn btn-success" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                        <a class="btn btn-danger" href="#"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        <a class="btn btn-info" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    </div>
					</div>
				</form>






