
{% extends 'base.html' %}

{% block content %}

{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/create_property.css' %}"/>

<div class="card bg-light">
<article class="card-body mx-auto">
	<h4 class="card-title">Create property listing</h4>
	<p class="sub-title">Please fill out the following information</p>
	<form>
        <div class="row">
        <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"><i class="fab fa-fort-awesome"></i></span>
		 </div>
        <input name="" class="form-control" placeholder="castle name" type="text">
    </div> <!-- form-group// -->
        <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" disabled class="form-control" placeholder="Robert Baratheon" type="text">
            </div>
    </div>
	<div class="row">
        <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="street name" type="text">
    </div> <!-- form-group// -->
        <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="street number" type="text">
            </div>
    </div>
        <div class="row">
            <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
            </div>
            <select class="form-control">
                <option value="" disabled selected> select kingdom</option>
                <option>The North</option>
                <option>The Mountain and the Vale</option>
                <option>Isles and Rivers</option>
                <option>The Rock</option>
                <option>The Stormlands</option>
                <option>The Reach</option>
                <option>Dorne</option>
            </select>
        </div><!-- form-group// -->
		<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fas fa-map-pin""></i> </span>
		 </div>
        <input name="" disabled class="form-control" placeholder="zip code" type="number">
    </div> <!-- form-group// -->
        </div> <!-- form-group end.// -->
     <div class="row">
        <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="price" type="text">
        </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" disabled placeholder="commission" type="number">
    </div></div> <!-- form-group// -->
     <div class="row"><div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input  class="form-control" placeholder="condition" type="number">
    </div> <!-- form-group// -->
          <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
         <div class="upload-btn-wrapper">
  <input type="file" name="myfile" />
             <button class="btn1">upload an image</button>

</div></div></div><div class="row" id="add-info"> <!-- form-group// -->


        <input name="" id="add-info" class="form-control" placeholder="additional information..." type="text">
        </div>
         <div class="row" id="submit-buttons">
         <div class="form-group">
        <button type="submit" id="submit-button" class="btn btn-primary btn-block"> Preview Listing </button>
    </div>
         <div class="form-group">
        <button type="submit" id="submit-button" class="btn btn-primary btn-block"> Publish Listing  </button>
    </div></div><!-- form-group// -->
    <p class="sub-title">Need some help? <a href="">Contact us for assistance</a> </p></div>
     </div></div>


</form>
</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->

</div>
<br><br>
</article>
{% endblock %}