{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <script type="text/javascript" src="{% static 'js/autofill-kingdom.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/create-property.css' %}"/>

    <div class="card bg-light">
        <article class="card-body mx-auto">
            <h3 class="card-title">Create property listing</h3>
            <p class="sub-title">Please fill out the following information:</p>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fab fa-fort-awesome"></i></span>
                        </div>
                        {{ form.name }}
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input disabled="disabled" value="{{ user.first_name }} {{ user.last_name }}">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-road"></i></span>
                        </div>
                        {{ form.street }}
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-chess-rook"></i></span>
                        </div>
                        {{ form.house_number }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                        </div>
                        {{ form.postcode }}
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-flag"></i></span>
                        </div>
                        <input disabled id="kingdom-div" placeholder="kingdom" class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-money-bill-alt"></i></span>
                        </div>
                        {{ form.price }}
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-expand-arrows-alt"></i></span>
                        </div>
                        {{ form.size }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-beer"></i></span>
                        </div>
                        {{ form.rooms }}
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        {{ form2.image }}
                    </div>
                </div>

                <div class="row" id="add-info">
                    {{ form.info }}
                </div>

                <div class="row" id="submit-buttons">
                    <div class="form-group">
                        <button type="submit" id="submit-button" class="btn btn-primary btn-block"> Publish Listing  </button>
                    </div>
                </div>
                <p class="sub-title">Need some help?
                    <a href="mailto:castle@castleapartments.com">Contact us for assistance</a>
                </p>
            </form>
        </article>
    </div>
{% endblock %}