{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit-images.css' %}" />
    <div class="card">
    {% if castle_images %}
        <a id="back-button" class="btn btn-success" href="/properties/{{ castle_images.first.castle.id }}/edit">Back to Edit Property</a></div>
    {% else %}
       <a id="back-button" class="btn btn-success" href="/">Back to Front Page</a></div>
    {% endif %}
    {% for image in castle_images %}
        <div class="card">
        <div class="pic-div">
            <img src="{{ image.image }}" alt="image"/>
        </div>
            <div class="decision">
    <div class="btn-wrapper"><a href="{% url 'delete_photo' image.id %}" id="delete-btn" class="btn btn-danger">Delete image<i class="fa fa-ban" aria-hidden="true"></i></a></div>
</div>
</div>
    {% endfor %}
    <div class="card">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button id="add-photo" class="btn btn-success" type="submit">add new photo</button></div>
    </form>
{% endblock %}