{% block content %}
    {% load static %}
        <div class="col-md-3 well castles">
            <a href="/properties/{{ castle.id }}">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"  alt="Thumbnail [100%x225]" src='{{castle.castleimage_set.first.image}}' data-holder-rendered="true"/>
                    {% if castle.verified %}
                        <img class="verified" alt="verfied" src="{% static 'images/correct.png' %}" />
                    {% endif %}
                    <div class="card-body">
                        <h1 class="card-text" id="castle-name">{{ castle.name }}</h1>
                        <p class="card-text" id="castle-info ">{{ castle.info }}</p>
                        <p class="card-text">Price: {{ castle.price }}</p>
                        <p class="card-text">Size: {{ castle.size }}</p>
                    </div>
                </div>
            </a>
        </div>
{% endblock %}

