{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Contact-info</title>
</head>
<body>
    <div class="card bg-light">
    <article class="card-body mx-auto">
        <h4 class="card-title">Contact info</h4>
        <p class="sub-title">You need to fill in contact information before you can buy {{ castle.name }}</p>
        <form method="post">
                {% csrf_token %}
        <div class="input-row"><div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
        {{ form.first_name }}
        </div>
        <div class="input-row"><div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
        {{ form.last_name }}
        </div>
        <div class="input-row"><div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user-circle"></i> </span>
             </div>
        {{ form.username }}
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            {{ form.email }}
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            {{ form.password1 }}
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            {{ form.password2 }}
        </div> <!-- form-group// -->
        <div class="form-group" id="create-button-container">
            <input type="submit"  id="create-button" class="btn btn-primary" value="Create Account">
        </div>
        </div>
        </div>
        </div>
        </form>
    </article>
    </div>
</body>
</html>

{% endblock %}