{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment-steps.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact-info.css' %}">

    <div class="container">
        <div class="row ">
            <div id="icon1" class="col-xs-4 step-label1">
                <i class="fa fa-address-card fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-xs-4 step-label2">
                <i class="fas fa-coins fa-2x"></i>
            </div>
            <div id="icon3" class="col-xs-4 step-label3">
                <i class="fas fa-receipt fa-2x"></i>
            </div>
        </div>
        <div class="row line">
            <div class="col-xs-4 step-label1"></div>
            <div class="col-xs-4 step-label2"></div>
            <div class="col-xs-4 step-label3"></div>
        </div>
        <div class="row">
            <div id="circle1" class="col-xs-4">
                <div class="step step1 active"></div>
            </div>
            <div class="col-xs-4">
                <div class="step step2"></div>
            </div>
            <div id="circle3" class="col-xs-4">
                <div class="step step3"></div>
            </div>
        </div>
    </div>

    <form method="post">
        <div class="card bg-light">
            <article class="card-body mx-auto">
                <h4 class="card-title">1. Contact info</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-row">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input disabled="disabled" value=" {{ user.first_name }} {{ user.last_name }}">
                        </div>
                        <div class="input-row">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-road"></i>
                                    </span>
                                </div>
                                {{ form.street_name }}
                            </div>
                            <div class="input-row">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-chess-rook"></i>
                                        </span>
                                    </div>
                                    {{ form.house_number }}
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-flag"></i>
                                        </span>
                                    </div>
                                    {{ form.country }}
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-users"></i>
                                        </span>
                                    </div>
                                    {{ form.city }}
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-pin"></i>
                                        </span>
                                    </div>
                                    {{ form.postal_code }}
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    {{ form.ssn }}
                                </div>
                                <div class="form-group" id="create-button-container">
                                    <input type="submit" id="create-button" class="btn btn-primary" value="Confirm contact info">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </form>
{% endblock %}