{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/make-offer.css' %}">

    <div class="card">
        <div class="card-body">
            <div class="castle-pic-div"><img class="castle-pic" src="{{ castle.castleimage_set.first.image}}" alt="castleimage"></div>
            <h4>Making an offer for: {{ castle.name}}</h4>
            <table class="property-details">
                <tr>
                    <td class="left-column">Seller:</td>
                    <td>{{ castle.seller }}</td>
                </tr>

                <tr>
                    <td class="left-column">Castle size:</td>
                    <td>{{ castle.size }} m2</td>
                </tr>

                <tr>
                    <td class="left-column">Number of rooms:</td>
                    <td>{{ castle.rooms }}</td>
                </tr>

                <tr>
                    <td class="left-column">Suggested price:</td>
                    <td>{{ castle.price }}</td>
                </tr>
            </table>

            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                {{ form.info }}
                {{ form.offer }}
                <input id="send-offer" type="submit" class="btn btn-primary" value="Send offer" />
            </form>
        </div>
    </div>
{% endblock %}