{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>

        <link rel="stylesheet" href="{% static 'css/payment-info.css' %}">
        <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/payment-steps.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact-info.css' %}">
        <title>Contact-info buy</title>
    </head>


    <body>


<div class="container">

      <div class="row ">
      <div id="icon1" class="col-xs-4 step-label1"><i class="fa fa-address-card fa-2x" aria-hidden="true"></i></div>
      <div class="col-xs-4 step-label2"><i class="fas fa-coins fa-2x"></i></div>
      <div id="icon3" class="col-xs-4 step-label3"><i class="fas fa-receipt fa-2x"></i></div>
      </div><span id="contact">1. Contact info</span>
    <span id="payment">2. Payment info</span>
    <span id="review">3. Review</span>

  <div class="row line">
      <div class="col-xs-4 step-label1"></div>
      <div class="col-xs-4 step-label2"></div>
      <div class="col-xs-4 step-label3"></div>
  </div>
  <div class="row">
      <div id="circle1" class="col-xs-4" label="1.contact"><div class="step step1"></div></div>
      <div class="col-xs-4"><div class="step step2 active"></div></div>
      <div id="circle3" class="col-xs-4"><div class="step step3"></div></div>
  </div>
</div>

    <form method="post">
        <div class="card bg-light">
            <article class="card-body mx-auto">
                <h4 class="card-title">2. Payment info</h4>
                <p class="sub-title">You need to fill in contact information before you can buy {{ castle.name }}</p>


                <div class="payment-container">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 id="payment-header" class="panel-title">Payment Details</h3>
                            <div class="checkbox pull-right"></div>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="cardName">CARD NAME</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cardName" placeholder="Cardholder Name" required autofocus />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    </div>
                                    <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">

                                        <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number" required autofocus />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label>EXPIRY DATE</label>
                                            <div class="month-year">
                                                <input type="text" class="form-control" id="expiry-month" placeholder="MM" required />
                                                <input type="text" class="form-control" id="expiry-year" placeholder="YY" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cvcCode">CVC</label>
                                            <input id="cvc-field" type="text" class="form-control" placeholder="CVC" required />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button   id="pay-button" class="well well-md text-center btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">Confirm Payment Info</button>
                    </div>



            </article>
        </div>
    </form>
    </body>
    </html>
{% endblock %}