{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/payment.css' %}">
        <script type="text/javascript" src="{% static 'js/payments-app.js' %}"></script>
        <title>Payments</title>
    </head>
    <body>
        <div class="px-4" id="px4-container">

                <div class="payment-container">
                    <div class="col-xs-12 col-md-4" id="payment-details">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Payment Details</h3>
                                <div class="checkbox pull-right"></div>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number" required autofocus />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label>EXPIRY DATE</label>
                                            <div class="col-lg-6 pl-ziro">
                                                <input type="text" class="form-control" id="expiry-month" placeholder="MM" required />
                                                <input type="text" class="form-control" id="expiry-year" placeholder="YY" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cvcCode">CVC</label>
                                            <input type="text" class="form-control" placeholder="CVC" required />
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                            <button   id="pay-button" class="well well-md text-center btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">
                                Pay
                            </button>
                    </div>
                        <div class="container">
                            <table id="search-log-table">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="table-1">Product</th>
                                        <th class="table-2">#</th>
                                        <th class="table-3">Price</th>
                                        <th class="table-4">Total</th>
                                    </tr>
                                    <tr>
                                        <th class="table-1">{{ castle.name }}</th>
                                        <th class="table-2">1</th>
                                        <th class="table-3">{{ castle.price }}</th>
                                        <th class="table-4">{{ castle.price }}</th>
                                    </tr>
                                    <tr>
                                        <th class="table-1">  </th>
                                        <th class="table-2">  </th>
                                        <th class="table-3">
                                            <p>Subtotal: </p>
                                            <p>Tax: </p>
                                        </th>
                                        <th class="table-4">
                                            <p id="subtotal">{{ castle.price }}</p>
                                            <p id="tax"><script>document.write(get_tax())</script></p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="table-1">  </th>
                                        <th class="table-2">  </th>
                                        <th class="table-3">Total: </th>
                                        <th class="table-4"><script>document.write(get_total())</script></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{#        </div>#}
        <div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="title-success">Successful payment!</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p class="lead">Your payment for {{ castle.name }} was successfully submitted.</p>
                        <a href="/" class="rd_more btn btn-default" id="home-button">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}
