
{%  extends 'base.html' %}

{% block content %}

    {% load static %}

    <script type="text/javascript" src="{% static 'js/inbox-app.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/message-inbox.css' %}"/>


<div class="card">
<div class="card-header">
<h4>{{ user.username }}'s messages </h4>
    </div>
    <div class="card-body">

        <div class="inbox-container">
            <table class="inbox">
                <thead>
                    <tr class="title-row">
                    <td class ="sender-name">Sender</td>
                    <td class ="message-title">Message subject</td>
                    <td class ="time-sent">Time sent</td>
                        <td class="read">Read</td>
                </tr></thead>
                {% for message in messages %}
                <tr class="message-row">
                     <a href="/">
                         <td class ="sender-name"><a href="/users/message/{{message.id }}">"{{ message.name }}</a></td>
                    <td class ="message-title">{{ message.subject }}</td>
                    <td class ="time-sent">{{ message.time_stamp }}</td>
                    {% if message.read %}
                    <td class ="read">Read</td>
                    {% else %}
                    <td class="read">Unread</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr class="message-row">
                    <td class ="sender-name">Jaime Lannister</td>
                    <td class ="message-title">Can you give me a hand?</td>
                    <td class ="time-sent">May 21, 21:30</td>
                </tr>
            </table>
        </div>
</div>

</div>


{% endblock %}