{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/my-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/properties-index.css' %}">
    <div class="user-watch-list">
        <div class="container">
            <div class="row">
                 <div class="header-text">
                    <h2>Your watch list</h2>
                </div>
                {% for castle in castle_watch %}
                    {% include "properties/singleproperty.html" with castle=castle %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="user-properties">
        <div class="container">
            <div class="row">
                 <div class="header-text" id="after-first-text" >
                    <h2>Your sales properties</h2>
                </div>
                {% for castle in castles %}
                    {% include "properties/singleproperty.html" with castle=castle %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="user-offers">
        <div class="container">
            <div class="row">
                 <div class="header-text" id="after-first-text" >
                    <h2>Castles you have made offers on</h2>
                </div>
                {% for castle in castle_offer %}
                    {% include "properties/singleproperty.html" with castle=castle %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}