{% extends 'base.html' %}
{% load static %}
{% block content %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/notifications.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">



        <div class="container">


        {% csrf_token %}
        <button onClick="location.href=location.href" id="refresh-btn" class="btn"><i class="fas fa-redo"></i></button>


        <form class="form form-horizontal" method="post">
    {% csrf_token %}
    {{ form }}

    </form>
     <div class="container2">


     {% if unseen %}

     <h3>Unseen notifications</h3>
                <table id="search-log-table">
                    <tbody>
                        <tr class="head-row">
                            <th>Information</th>
                            <th>Link</th>
                            <th>Time</th>
                        </tr>

                        {% for message in unseen %}
                          <tr>
                              <td class="message-info">
                                  {{ message.info }}
                              </td>
                              <td class="message-link">
                                  <a href="{{ message.link }}"><i class="fas fa-link"></i>
                                  </a>
                              </td>
                          <td class="message-time-stamp">
                              {{ message.time_stamp }}
                          </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% else %}
     <div class="container2">
     {% if seen %}
     <h3>All notifications</h3>
            <table id="search-log-table">
                <tbody>
                    <tr class="head-row">
                            <th>Information</th>
                            <th>Link</th>
                            <th>Time</th>
                    </tr>

                    {% for message in seen %}
                      <tr>
                          <td class="message-info">
                              {{ message.info }}
                          </td>
                          <td class="message-link">
                              <a href="{{ message.link }}"><i class="fas fa-link"></i>
                              </a>
                              </td>
                          <td class="message-time-stamp">

                          {{ message.time_stamp }}
                      </td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
     {% else %}
         <h3>You have no notifications</h3>
     {% endif %}
    {% endif %}
{% endblock %}