{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign-up.css' %}" />

    <div class="card bg-light">
        <article class="card-body mx-auto">
            <h4 class="card-title">Sign up</h4>
            <p class="sub-title">Get started with your free account</p>
            <form method="post">
                {% csrf_token %}
                <div class="input-row">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        {{ form.first_name }}
                    </div>
                    <div class="input-row">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            {{ form.last_name }}
                        </div>
                        <div class="input-row">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                </div>
                                {{ form.username }}
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                                {{ form.email }}
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                {{ form.password2 }}
                            </div>
                            <div class="form-group" id="create-button-container">
                                <input type="submit" id="create-button" class="btn btn-primary" value="Create Account"/>
                            </div>
                            <p class="sub-title">Have an account?<a href="/users/login">Log In</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </article>
    </div>
{% endblock %}