
{% extends 'base.html' %}

{% block content %}

{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/reset-password.css' %}"/>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">

	<h3 class="fa fa-lock fa-4x"></h3>
    <h2>Forgot Password?</h2>
    <p>You can reset your password here.</p>
	<form>
	<div class="form-group input-group">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="email address" type="email">
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Reset password </button>
    </div> <!-- form-group// -->
    <p class="sub-title">Remember your password? <a href="/users/login">Log In</a> </p>
</form>
</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->

</div>
<br><br>
</article>


{% endblock %}