{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset-password.css' %}"/>

    <div class="card bg-light">
        <article class="card-body mx-auto" id="article-card">

            <h3 class="fa fa-lock fa-4x"></h3>
            <h2>Forgot Password?</h2>
            <div class="less-text">You can send us your email here,</div>
            <div class="less-text">we will contact you with a new password</div>
            <div class="less-text">as soon as possible</div>
            <form>
                <div class="form-group input-group">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input name="" class="form-control" placeholder="email address" type="email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> <a href="/" id="button-reset">Reset password</a> </button>
                </div>
                <p class="sub-title">Remember your password? <a href="/users/login">Log In</a></p>
            </form>
        </article>
    </div>

{% endblock %}