{%  extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/search-log.css' %}">
            {% if histories %}
    <div class="container">
        <table id="search-log-table">
            <tbody>
                <tr>
                    <th>Time of search</th>
                    <th>Search content</th>
                </tr>

                {% for history in histories %}
                  <tr>
                      <td>
                          {{ history.time_stamp }}
                      </td>
                      <td>
                          <a href="/properties/search/?search-filter={{ history.search_input }}">
                              {{ history.search_input }}
                          </a>
                      </td>
                  </tr>
                {% endfor %}

            </tbody>
        </table>
    <a onclick="return confirm('Are you sure you want to delete your search history \n Hint: use incognito mode next time ;)');" href="{% url 'delete_search' %}" class="btn btn-danger buttn">Delete search history</a>
    </div>
    {% else %}
      <div class="container">
        <table id="search-log-table">
            <tbody>
                <tr>
                    <th>Search content</th>
                </tr>

                  <tr>
                      <td>
                          <p>No searches in your history</p>
                      </td>
                  </tr>

            </tbody>
        </table>
       </div>
{% endif %}
{% endblock %}