{%  extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/search-log.css' %}">

    <div class="container">
        <table id="search-log-table">
            <tbody>
                <tr>
                    <th>Time of search</th>
                    <th>Search content</th>
                </tr>

                {% for history in histories %}
                  <tr>
                      <td>
                          {{ history.time_stamp }}
                      </td>
                      <td>
                          <a href="/properties/search/?search-filter={{ history.search_input }}&search_history_link=true">
                              {{ history.search_input }}
                          </a>
                      </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}