{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!doctype html>
    <html lang="en">
        <head>
            <link rel="stylesheet" href="{% static 'css/seller-profile.css' %}">
            <title>Document</title>
        </head>
        <body>
            <div class="container" id="user-info">
                <div class="tab-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 center" id="img-container">
                            <img class="img-responsive" src="{{ profile.profile_image }}"/>
                        </div>
                        <div class="col-xs-12 col-sm-9" id="about-table">
                            <div class="profile-user-info">
								<div class="profile-info-row" id="username">
									<div class="profile-info-name"> First name </div>

									<div class="profile-info-value">
										<span>{{ profile.user.first_name }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Last name </div>

									<div class="profile-info-value">
										<span>{{ profile.user.last_name }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Username </div>

									<div class="profile-info-value">
										<span>{{ profile.user.username }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Joined </div>

									<div class="profile-info-value">
										<span>{{ profile.user.date_joined }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Last login </div>

									<div class="profile-info-value">
										<span>{{ profile.user.last_login }}</span>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-text">
                <h3>{{ profile.user.username }}'s properties</h3>
            </div>
            <div class="album py-5 bg-transparent">
                <div class="container">
                    <div class="row" id="properties-row">
                        {% for castle in castles %}
                        {% include "users/seller-properties.html" with castle=castle %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </body>
    </html>
{% endblock %}